body
    {
    background: linear-gradient(0deg, #0c5441, #1c1101, #1d3629, #10380c);
    background-size: 800% 800%;

    -webkit-animation: naturebackground 13s ease infinite;
    -moz-animation: naturebackground 13s ease infinite;
    -o-animation: naturebackground 13s ease infinite;
    animation: naturebackground 13s ease infinite;
    }

    @-webkit-keyframes naturebackground 
    {
        0%{background-position:52% 0%}
        50%{background-position:49% 100%}
        100%{background-position:52% 0%}
    }
    @-moz-keyframes naturebackground 
    {
        0%{background-position:52% 0%}
        50%{background-position:49% 100%}
        100%{background-position:52% 0%}
    }
    @-o-keyframes naturebackground 
    {
        0%{background-position:52% 0%}
        50%{background-position:49% 100%}
        100%{background-position:52% 0%}
    }
    @keyframes naturebackground 
    {
        0%{background-position:52% 0%}
        50%{background-position:49% 100%}
        100%{background-position:52% 0%}
    }

svg
    {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) ;
        width: 10%;
        height: 100%;
        fill:transparent;
        stroke: rgb(9, 156, 75);
        stroke-width: 80px;
        stroke-dasharray: 198154.9375;
        animation: desenhar 10s infinite alternate; 
    }

@keyframes desenhar
    {
        0%
        {
            stroke-dashoffset: 198154.9375;
        }
        100%
        {
            stroke-dashoffset: 0;
        }
    }
